VITE_GITHUB_CLIENT_ID=your_github_oauth_client_id
VITE_GITHUB_AUTHORIZATION_ENDPOINT=https://github.com/login/oauth/authorize
VITE_GITHUB_REDIRECT_URI=http://localhost:5173/callback
VITE_GITHUB_SCOPE=read:user user:email
VITE_BACKEND_BASE_URL=http://localhost:8787
