GITHUB_CLIENT_ID=your_github_oauth_client_id
GITHUB_CLIENT_SECRET=your_github_oauth_client_secret
FRONTEND_ORIGIN=http://localhost:5173
BACKEND_PORT=8787
GITHUB_TOKEN_ENDPOINT=https://github.com/login/oauth/access_token
GITHUB_USER_ENDPOINT=https://api.github.com/user
